{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- $Permalink := .Destination | relURL | safeURL -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{- $Srcset := "" -}}

{{/* SVG and external images won't work with gallery layout, because their width and height attributes are unknown */}}
{{- $galleryImage := false -}}

{{- if $image -}}
  {{- $notSVG := ne (path.Ext .Destination) ".svg" -}}
  {{- $Permalink = $image.RelPermalink -}}

  {{- if $notSVG -}}
    {{- $Width = $image.Width -}}
    {{- $Height = $image.Height -}}
    {{- $galleryImage = true -}}

    {{- if (default true .Page.Site.Params.imageProcessing.content.enabled) -}}
      {{- $fullSize := $image.Resize (printf "%dx jpeg q85" $Width) -}}

      {{- $small := $fullSize -}}
      {{ if gt $Width 480 }}
        {{- $small = $image.Resize "480x jpeg" -}}
      {{ end }}

      {{- $big := $fullSize -}}
      {{ if gt $Width 2048 }}
        {{- $big = $image.Resize "2048x jpeg" -}}
      {{ end }}

      {{- $Srcset = printf "%s %dw, %s %dw" $small.RelPermalink $small.Width $big.RelPermalink $big.Width -}}
      {{- $Permalink = $fullSize.RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<img src="{{ $Permalink }}"
  {{ with $Width }}width="{{ . }}"{{ end }}
  {{ with $Height }}height="{{ . }}"{{ end }}
  {{ with $Srcset }}srcset="{{ . }}"{{ end }}
  loading="lazy"
  {{ with $alt }}
    alt="{{ . }}"
  {{ end }}
  {{ if $galleryImage }}
    class="gallery-image" 
    data-flex-grow="{{ div (mul $Width 100) $image.Height }}"
    data-flex-basis="{{ div (mul $Width 240) $image.Height }}px"
  {{ end }}
>