{{ $resources := .Resources }}

<div class="article-list--compact links">
    {{ range $i, $link := .Params.links }}
        <article>
            <a href="{{ $link.website }}" target="_blank" rel="noopener">
                <div class="article-details">
                    <h2 class="article-title">
                        {{- $link.title -}}
                    </h2>
                    <footer class="article-time">
                        {{ with $link.description }}
                            {{ . }}
                        {{ else }}
                            {{ $link.website }}
                        {{ end }}
                    </footer>
                </div>

                {{ $context := (dict "Context" (dict "Params" $link "Resources" $resources)) }}
                {{- $image := partialCached "helper/image" $context $link.website "link" -}}
                {{ if $image.exists }}
                    <div class="article-image">
                        {{ if $image.resource }}
                            {{- $thumbnail := $image.resource.Resize "60x" -}}
                            {{- $Permalink := $thumbnail.RelPermalink -}}
                            <img src="{{ $Permalink }}" loading="lazy"/>
                        {{else}}
                            <img src="{{ $image.permalink }}" loading="lazy"/>
                        {{ end }}
                    </div>
                {{ end }}
            </a>
        </article>
    {{ end }}
</div>